In [1]:
import pandas as pd,numpy as np

In [2]:
mframe = pd.DataFrame(np.random.randn(16).reshape(4,4),
                     index=[['white','white','red','red'], ['up','down','up','down']],
                    columns=[['pen','pen','paper','paper'],[1,2,1,2]])

In [3]:
mframe

                 pen               paper
                   1         2         1         2
white up   -0.277838  0.567775  0.397611  0.158136
      down -0.528881  0.962157  0.417840  0.545572
red   up   -0.080164 -0.250057 -0.152781  0.867392
      down  0.453932 -1.111080  0.391925  2.204337

In [4]:
mframe.unstack()

            pen                                   paper                      \
              1                   2                   1                   2
           down        up      down        up      down        up      down
red    0.453932 -0.080164 -1.111080 -0.250057  0.391925 -0.152781  2.204337
white -0.528881 -0.277838  0.962157  0.567775  0.417840  0.397611  0.545572



             up
red    0.867392
white  0.158136

In [6]:
mframe.stack().stack()

white  up    1  paper    0.397611
                pen     -0.277838
             2  paper    0.158136
                pen      0.567775
       down  1  paper    0.417840
                pen     -0.528881
             2  paper    0.545572
                pen      0.962157
red    up    1  paper   -0.152781
                pen     -0.080164
             2  paper    0.867392
                pen     -0.250057
       down  1  paper    0.391925
                pen      0.453932
             2  paper    2.204337
                pen     -1.111080
dtype: float64

In [8]:
!pip install tables

Collecting tables

WARNING: Ignoring invalid distribution -ip (d:\computer science\lib\site-packages)

  Downloading tables-3.7.0-cp39-cp39-win_amd64.whl (6.9 MB)
     ---------------------------------------- 6.9/6.9 MB 3.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.19.0 in d:\computer science\lib\site-packages (from tables) (1.21.4)
Requirement already satisfied: packaging in d:\computer science\lib\site-packages (from tables) (21.0)
Collecting numexpr>=2.6.2
  Downloading numexpr-2.8.1-cp39-cp39-win_amd64.whl (88 kB)
     ---------------------------------------- 88.5/88.5 kB 5.2 MB/s eta 0:00:00
Requirement already satisfied: pyparsing>=2.0.2 in d:\computer science\lib\site-packages (from packaging->tables) (2.4.7)
Installing collected packages: numexpr, tables
Successfully installed numexpr-2.8.1 tables-3.7.0

WARNING: Ignoring invalid distribution -ip (d:\computer science\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\computer science\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\computer science\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\computer science\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\computer science\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\computer science\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (d:\computer science\lib\site-packages)
WARNING: There was an error checking the latest version of pip.

In [10]:
from pandas.io.pytables import HDFStore

store = HDFStore('hdf.h5')
store

<class 'pandas.io.pytables.HDFStore'>
File path: hdf.h5

In [11]:
store['obj1']=mframe

In [13]:
store['obj1']

                 pen               paper
                   1         2         1         2
white up   -0.277838  0.567775  0.397611  0.158136
      down -0.528881  0.962157  0.417840  0.545572
red   up   -0.080164 -0.250057 -0.152781  0.867392
      down  0.453932 -1.111080  0.391925  2.204337

## Merging

In [14]:
frame1 = pd.DataFrame( {'id':['ball','pencil','pen','mug','ashtray'],
 'price': [12.33,11.44,33.21,13.23,33.62]})

frame2 = pd.DataFrame( {'id':['pencil','pencil','ball','pen'],
 'color': ['white','red','red','black']})

In [15]:
frame1.merge(frame2)

       id  price  color
0    ball  12.33    red
1  pencil  11.44  white
2  pencil  11.44    red
3     pen  33.21  black

In [17]:
pd.merge(frame2,frame1)

       id  color  price
0  pencil  white  11.44
1  pencil    red  11.44
2    ball    red  12.33
3     pen  black  33.21

In [22]:
pd.concat([frame1,frame2],axis=1)

        id  price      id  color
0     ball  12.33  pencil  white
1   pencil  11.44  pencil    red
2      pen  33.21    ball    red
3      mug  13.23     pen  black
4  ashtray  33.62     NaN    NaN

In [23]:
frame1.combine_first(frame2)

   color       id  price
0  white     ball  12.33
1    red   pencil  11.44
2    red      pen  33.21
3  black      mug  13.23
4    NaN  ashtray  33.62