# Lab Assignment - 4
### Date - 27 April 2020

In [1]:
import pandas as pd

##### 1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [2]:
a = list(range(10))
data = pd.Series(a)
data

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

##### 2. Write a Pandas program to convert a Panda module Series to Python list and its type.

In [4]:
list_data = list(data)
list_data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

##### 3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.  Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [20]:
a=pd.Series(range(2,12,2))
b=pd.Series(range(1,11,2))
data = pd.DataFrame([a,b])

In [21]:
data = data.T
data['Sum']= data[0]+data[1]
data['Sub']=data[0]-data[1]
data['Prod']=data[0]*data[1]
data['qou']=data[0]/data[1]

In [22]:
data

    0  1  Sum  Sub  Prod       qou
0   2  1    3    1     2  2.000000
1   4  3    7    1    12  1.333333
2   6  5   11    1    30  1.200000
3   8  7   15    1    56  1.142857
4  10  9   19    1    90  1.111111

##### 4. Write a Pandas program to compare the elements of the two Pandas Series. Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [23]:
data['greater']=data[0]>data[1]
data['eqaul'] = data[0]==data[1]
data

    0  1  Sum  Sub  Prod       qou  greater  eqaul
0   2  1    3    1     2  2.000000     True  False
1   4  3    7    1    12  1.333333     True  False
2   6  5   11    1    30  1.200000     True  False
3   8  7   15    1    56  1.142857     True  False
4  10  9   19    1    90  1.111111     True  False

##### 5. Write a Pandas program to convert a dictionary to a Pandas series.

In [25]:
a = {'a':100,'b':200,'c':300,"d":400,'e':800}
pd.Series(a)

a    100
b    200
c    300
d    400
e    800
dtype: int64

##### 6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [27]:
import numpy as np 
a = np.array(range(10))
b =pd.Series(a)
b

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32

##### 7. Write a Pandas program to change the data type of given a column or a Series.

In [41]:
a = pd.Series('100,200,python,300.12,400'.split(','))
b = pd.to_numeric(a,errors='coerce')
b

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

#### 8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [43]:
pd.Series(data[0])

0     2
1     4
2     6
3     8
4    10
Name: 0, dtype: int64

##### 9. Write a Pandas program to convert a given Series to an array.

In [45]:
data[0].astype(str)

0     2
1     4
2     6
3     8
4    10
Name: 0, dtype: object

##### 10. Write a Pandas program to convert Series of lists to one Series.

In [65]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
s = s.apply(pd.Series).stack().reset_index(drop=True)
s

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

##### 11. Write a Pandas program to sort a given Series.

In [57]:
a = pd.Series('100,200,python,300.12,400'.split(','))
a.sort_values(ascending=True)

0       100
1       200
3    300.12
4       400
2    python
dtype: object

##### 12. Write a Pandas program to add some data to an existing Series.

In [58]:
a = a.append(pd.Series(['500', 'php']))
a

0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object

##### 13. Write a Pandas program to create a subset of a given series based on value and condition.

In [61]:
a = pd.Series(range(10))
b = a[a <= 5]
b

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

##### 14. Write a Pandas program to change the order of index of a given series.

In [64]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
s = s.reindex(index = ['B','A','C','D','E'])
s

B    2
A    1
C    3
D    4
E    5
dtype: int64