In [1]:
import pandas as pd

<?xml version='1.0' encoding='utf-8'?>
<data>
 <row>
  <level_0>NewYork</level_0>
  <one>1</one>
  <two>4</two>
  <three>7</three>
  <four>10</four>
 </row>
  <row>
  <level_0>Colarado</level_0>
  <one>2</one>
  <two>5</two>
  <three>8</three>
  <four>11</four>
 </row>
  <row>
  <level_0>Ohio</level_0>
  <one>3</one>
  <two>6</two>
  <three>9</three>
  <four>12</four>
 </row>
</data>

In [2]:
data = pd.read_xml('one.xml')

In [3]:
data

    level_0  one  two  three  four
0   NewYork    1    4      7    10
1  Colarado    2    5      8    11
2      Ohio    3    6      9    12

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>one</th>
      <th>two</th>
      <th>three</th>
      <th>four</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Ohio</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Colarado</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>NewYork</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
  </tbody>
</table>